<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>my1stAwesomeIOSgame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DA018A81E72A13C0032D797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA018C21E72A13C0032D797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA018CD1E72A13C0032D797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
